.car-container {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 100px;
  }
  
  .car {
    position: absolute;
    width: 100px;
    animation: move 10s forwards; /* Change 'infinite' to 'forwards' */
    background-image: url('https://s16.postimg.io/6xyi2z5rl/image.png');
    background-position: center center;
    background-size: contain;
    height: 100px;
    background-repeat: no-repeat;
  }
  
  .secondCar {
    animation: move_2 2s infinite;
    background-image: url('https://s16.postimg.io/qoqq8ufht/image.png');
  }
  
  @keyframes move {
    0% {
      left: 0px;
      top: 0px;
    }
    45% {
      transform: rotate(0);
    }
    50% {
      left: 200px;
      top: 100px;
      background-image: url('https://s16.postimg.io/6xyi2z5rl/image.png');
    }
    100% {
      opacity: 0; /* Add opacity to fade out at the end */
    }
  }
  