/* Add the CSS for the progress bar */
.progress-bar {
    width: 100%;
    height: 20px;
  }
  
  /* Apply the color to the progress bar */
  .progress-bar::-webkit-progress-value {
    background-color: red; /* For WebKit-based browsers */
  }
  
  .progress-bar::-moz-progress-bar {
    background-color: red; /* For Firefox */
  }

  .keyButtons {
    border: 5px inset #34495e;
    width: 100px;
    height: 40px;
    background-color: #435F7D;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 9px;
    border-radius: 5px;
  }

#containerFade {
  animation: fadeIn 1s ease-in-out;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.gameText {
  font-size: 12px;
  color: rgb(70, 70, 80);
}

  @keyframes fadeIn {
    0% {
      filter : blur(10px);
      opacity: 0;
    }
    100% {
      filter : blur(0px);
      opacity: 1;
    }
  }