.instructionsText {
    width: 92%;
    margin: 0 auto;
    padding-bottom: 4px;
    padding-top: 4px;
}

#backToMenu {
    font-size: 18px;
    font-family: 'Preahvihear', sans-serif;
    border: 5px groove rgb(180, 200, 200);
    width: 180px;
    height: 50px;
    background-color: rgb(200, 200, 200);
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 8px;
}